@{
    ViewData["Title"] = "Home Page";
}


<h1>Sky Medicine Management</h1>
<p>
    Welcome to Sky Medicine Management System.
    A medicine management system which you can host yourself on your won cloud or on premise and also
    with option to use our pre-managed service.   
</p>

<h3>Features</h3>
<ul>
    <li>Pre-managed servers availible at lost cost with option to host yourself</li>
    <li>Use cloud hosting like AWS, GCP or Azure for your setup</li>
    <li>Fully customisable according to your needs - written on ASP.NET Core</li>
    <li>Exposed API so that you can have your own frontend code</li>
    <li>Integrated admin panel</li>
</ul>